.promo {
  position: relative;
  background: url(../img/bg_wood.png) center center/cover no-repeat;
  height: 785px;
}

.promo_img_1 {
  position: absolute;
  left: 52%;
  top: 56%;
  transform: translate(-50%, -50%);
}
.promo_img_2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.promo_circle {
  width: 214px;
  height: 214px;
  border-radius: 50%;
  background-color: rgb(237, 35, 35);
  opacity: 0.459;
  position: absolute;
  left: 46%;
  top: 46%;
  transform: translate(-50%, -50%);
}

.promo_link {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}
