@font-face {
  font-family: "Neutra-Light";
  src: url(../fonts/Neutraface-Light.otf);
}

@font-face {
  font-family: "Neutra-Medium";
  src: url(../fonts/Neutraface-Medium.otf);
}

@font-face {
  font-family: "Neutra-Bold";
  src: url(../fonts/Neutraface-Bold.otf);
}

@font-face {
  font-family: "Neutra-Inline";
  src: url(../../fonts/Neutraface-Inline.otf);
}
